body{
  margin: 0;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  background-color: #E4F9FB;
  height: calc(100vh - 40px);
  font-family: 'Rajdhani', sans-serif;
  font-size: 1em;
  text-align: center;
  font-weight: bold;
}

.main .logo{
  justify-content: center;
}
.main img{
  width: 120px;
  height: 120px;
}
.buttons{
  display: flex;
  flex-direction: column;
  
}
.btn-general{
  height: 40px;
  width: 70vw;
  background: #ADE07A;
  border: none;
  border-radius: 30px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
}
.btn-general a{
  text-decoration: none;
  color: black;
}
h1{
  font-family: 'Bungee Inline', cursive;
  font-size: 20px;
  text-align: center;
}
/* register page */
.register{
  background-color: white;
}
form{
  width: 80%;
}
.form_styles{
  display: flex;
  flex-direction: column;
  text-align: justify;
  font-family: 'Rajdhani', sans-serif;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 25px;
}
.form_styles label {
  padding: 5px 0;
}
.form_styles input{
  border: none;
  border-bottom: 1px solid #353535;
  width: 100%;
  outline: none;
  padding: 0;
  height: 20px;
}
.social button{
  border: none;
  background-color: white;
}
.social img{
  width: 40%;
  height: 40%;
}