
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  background-color: #E4F9FB;
  height: calc(100vh - 40px);
  font-family: 'Rajdhani', sans-serif;
  font-size: 1em;
  text-align: center;
  font-weight: bold;
}

.main .logo{
  justify-content: center;
}
.main img{
  width: 120px;
  height: 120px;
}

